/* left-aligned teaser with info on the right */
.search-content__inner-wrap .archive__item {
  display: grid !important;
  grid-template-columns: 160px 1fr !important;
  grid-template-rows: auto 1fr !important;
  column-gap: 1rem !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

  .archive__item-teaser {
    img {
      overflow: hidden;
      border-radius: 12px 0px 0px 12px;
    }
  }

  .archive__item-body {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
}

.search-content__inner-wrap .archive__item-teaser {
  grid-column: 1 !important;
  grid-row: 1 / span 2 !important;
  margin-bottom: 0 !important;
}

.search-content__inner-wrap .archive__item-teaser img {
  height: 120px !important;
  object-fit: cover !important;
  width: 100% !important;
}

.search-content__inner-wrap .archive__item-title {
  grid-column: 2 !important;
  grid-row: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
}

.search-content__inner-wrap .archive__item-excerpt {
  font-size: 0.85rem;
  grid-column: 2 !important;
  grid-row: 2 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  align-self: start !important;   /* prevent vertical centering */
}

.search-badge {
  font-size: 0.7em;
  background: $link-color !important;
  color: #fff !important;
  padding: 0.2em 0.6em;
  border-radius: 3px;
  margin-left: 0.5em;
}