/* Override the inner item's spacing */
.grid__item .archive__item {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.grid__item .archive__item .archive__item-body {
    margin-top: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0;
}