/* Override grid spacing */
.grid__item .archive__item {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  
  /* center align card title and description */
  text-align: center;

  .archive__item-teaser {
    img {
      overflow: hidden;
      border-radius: 12px 12px 0px 0px;
    }
  }
}

.grid__item .archive__item .archive__item-body {
  margin-top: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0;
}