@charset "utf-8";

// Base color HEX preso dal Logo: #228b37 - https://paletton.com/#uid=52T0u0kobn5eBvEjOqIrQiKyfdr
$link-color: #0f7125 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'contrast' }}"; // skin
@import "minimal-mistakes"; // main partials

// CUSTOM CSS HERE


$paragraph-indent: 'true';

$body-color: #0f7125;
$text-color: #0f7125;
$masthead-link-color: #87ffa1;

//$global-font-family: 'Comic Sans';
//$header-font-family: 'Comic Sans';
//$caption-font-family: 'Comic Sans';

//body { background: red; }